DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

CARRY_STAFF_ROLE_ID=
BOOSTER_ROLE_ID=
LOG_CHANNEL_ID=
VOUCH_CHANNEL_ID=
VOUCH_LOG_CHANNEL_ID=
HIGHLIGHT_CHANNEL_ID=
DEFAULT_TICKET_CATEGORY_ID=

TICKET_CATEGORY_ALS_ID=
TICKET_CATEGORY_AG_ID=
TICKET_CATEGORY_AC_ID=
TICKET_CATEGORY_UTD_ID=
TICKET_CATEGORY_AV_ID=
TICKET_CATEGORY_AO_ID=
TICKET_CATEGORY_BL_ID=
TICKET_CATEGORY_SP_ID=

HELPER_ROLE_ALS_ID=
HELPER_ROLE_AG_ID=
HELPER_ROLE_AC_ID=
HELPER_ROLE_UTD_ID=
HELPER_ROLE_AV_ID=
HELPER_ROLE_AO_ID=
HELPER_ROLE_BL_ID=
HELPER_ROLE_SP_ID=

EMOJI_BULLET=
EMOJI_SERVICE_ALS=
EMOJI_SERVICE_AG=
EMOJI_SERVICE_AC=
EMOJI_SERVICE_UTD=
EMOJI_SERVICE_AV=
EMOJI_SERVICE_AO=
EMOJI_SERVICE_BL=
EMOJI_SERVICE_SP=
